name: Build VS2019 Solution
on: [push]
jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@master

    - name: Setup MSBuild.exe
      uses: warrenbuckley/Setup-MSBuild@v1
  
    - name: Setup NuGet
      uses: nuget/setup-nuget@v1
      with:
        nuget-version: '5.x'

    - name: NuGet Restore
      run: nuget restore

    - name: Install vcpkg Packages
      run: vcpkg install stb:x86-windows stb:x64-windows

    - name: MSBuild
      run: msbuild SpreadEngineBeta.sln /p:Configuration=Release /p:Platform="x64"