name: Build VS2019 Solution
on: [push]
jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@master

    - name: Setup MSBuild.exe
      uses: warrenbuckley/Setup-MSBuild@v1
  
    - name: Setup NuGet
      uses: nuget/setup-nuget@v1
      with:
        nuget-version: '5.x'

    - name: NuGet Restore
      run: nuget restore

    - name: Install vcpkg Packages
      run: vcpkg install stb:x64-windows
    
    - name: Integrate vcpkg into MSBuild
      run: vcpkg integrate install

    - name: MSBuild
      run: msbuild SpreadEngineBeta.sln /p:Configuration=CIRelease /p:Platform="x64"
    
    - name: Copy C++ DLLs
      run: (robocopy x64/CIRelease/ SpreadLauncher/bin/CIRelease/ *.dll) & exit 0
    
    - uses: actions/upload-artifact@v1
      with:
        name: Hello World App
        path: SPHelloWorld/bin/CIRelease
    
    - uses: actions/upload-artifact@v1
      with:
        name: Launcher
        path: SpreadLauncher/bin/CIRelease